  .custom-link {
    font-size: 1.00rem; /* Yazı boyutunu artırmak için bu değeri değiştirebilirsiniz */
  }
  .btn-link {
    font-size: 1.00rem; /* Yazı boyutunu artırmak için bu değeri değiştirebilirsiniz */
  }
/* Stil eklemeleri için */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.btn{
  text-transform: none;
}
.right-0 {
  right: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.w-48 {
  width: 12rem;
}

.bg-white {
  background-color: #fff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.block {
  display: block;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-gray-800 {
  color: #2d3748;
}

.hover\:bg-gray-200:hover {
  background-color: #edf2f7;
}
.order-tracking-link {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px; /* Daha küçük dolgu */
  background-color: #5f6c7c; /* Butonun arka plan rengi */
  border-radius: 6px; /* Daha küçük köşe yuvarlaması */
  color: #fff;
  font-family: 'Roboto', sans-serif; /* Modern bir font ailesi */
  font-size: 0.9rem; /* Daha küçük yazı boyutu */
  font-weight: 500; /* Orta kalınlıkta yazı stili */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Biraz daha hafif gölge */
}

.order-tracking-link i {
  margin-right: 8px; /* İkon ile metin arasındaki boşluk */
  font-size: 1rem; /* İkon boyutu küçültüldü */
  transition: transform 0.3s ease;
}

.order-tracking-link:hover {
  background-color: #02080f; /* Hover sırasında arka plan rengi */
  transform: translateY(-2px); /* Hafif yukarı kayma efekti */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.order-tracking-link:hover i {
  transform: rotate(15deg); /* Hover sırasında ikonu hafifçe döndürme efekti */
}
.header-texts{
  font-size:20px !important
}
.order-tracking-link:active {
  background-color: #02080f; /* Tıklama sırasında arka plan rengi */
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

