<header class="bg-light">
    <nav class="relative flex items-center justify-between py-4 px-3 lg:px-10">
      <!-- Hamburger Menu Button (Mobile Only) -->
      <div class="lg:hidden">
        <button (click)="toggleMenu()" class="text-3xl focus:outline-none">
          &#9776;
        </button>
      </div>
  
      <!-- Logo (left for large screens, centered for small screens) -->
      <div class="flex-grow lg:flex-grow-0 text-center lg:text-left">
        <img
          src="../../../SellingThings/assets/headerlogo.png"
          alt="Logo"
          class="h-12 sm:h-16 lg:h-20 mx-auto lg:mx-0 object-center rounded-full"
        />
      </div>
  
      <!-- Links for larger screens -->
      <div class="hidden lg:flex flex-grow justify-center">
        <ul class="inline-flex space-x-10 items-center text-sm">
          <li class="nav-item">
            <a class="custom-link text-tertiary header-texts" href="/">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="custom-link text-tertiary header-texts" href="/about">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="custom-link text-tertiary header-texts" href="/product">Ürünler</a>
          </li>
          <li class="nav-item">
            <a class="custom-link text-tertiary header-texts" href="/contact">İletişim</a>
          </li>
        </ul>
      </div>
  
      <!-- User and Cart Section (both mobile and desktop) -->
      <div class="flex items-center ml-auto">
        <ng-container *ngIf="userService.isUserLoggedIn(); else guestLinks">
          <!-- User dropdown (icon on small screens) -->
          <div class="btn btn-link text-muted relative pr-3.5 pl-3" (click)="toggleDropdown()">
            <button class="flex items-center text-sm sm:text-base lg:text-lg">
              <i class="fas fa-user-circle text-lg lg:hidden"></i> <!-- Icon for small screens -->
              <span class="hidden lg:inline">{{ userService.getUserDetails()?.name ?? '' }} {{ userService.getUserDetails()?.surname ?? '' }}</span>
              <svg class="ml-1 hidden lg:block w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
              </svg>
            </button>
            <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2 z-10">
              <a class="block px-4 py-2 text-gray-800 hover:bg-gray-200" routerLink="/orders">Siparişlerim</a>
              <a class="block px-4 py-2 text-gray-800 hover:bg-gray-200" (click)="logout()">Çıkış Yap</a>
            </div>
          </div>
        </ng-container>
  
        <!-- Guest Links -->
        <ng-template #guestLinks>
          <a type="button" class="btn btn-link text-muted text-sm w-0 pl-3 pr-9" routerLink="/login">
            <i class="fas fa-user-circle text-xl lg:text-xl"></i> <!-- Boyutlar büyütüldü -->
          </a>
        </ng-template>
  
        <!-- Cart Icon (smaller for small screens) -->
        <a class="btn btn-link text-muted w-0 pl-2 px-8 relative" routerLink="/cart"> <!-- relative eklendi -->
          <i class="fas fa-shopping-cart text-xl lg:text-xl"></i> <!-- Sepet ikonu -->
          <span *ngIf="quantity > 0" 
                class="bg-red-500 text-white rounded-full px-2 absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 text-xs lg:text-sm">
            {{ quantity }}
          </span>
        </a>
  
        <!-- Order Tracking Button (icon for small screens) -->
        <a class="btn btn-link text-muted " routerLink="/order-tracking">
          <i class="fas fa-truck text-xl lg:hidden"></i> <!-- Icon for small screens -->
          <span class="hidden lg:inline">Sipariş Takibi</span> <!-- Text for large screens -->
        </a>
      </div>
    </nav>
  
    <!-- Mobile Menu -->
    <div [ngClass]="{'-translate-x-full': !mobileMenuOpen, 'translate-x-0': mobileMenuOpen}" class="absolute left-0 top-0 w-full h-screen bg-white z-20 transform transition-transform duration-300 lg:hidden">
      <div class="flex justify-between items-center p-5">
        <img src="../../../SellingThings/assets/headerlogo.png" alt="Logo" class="h-16 rounded-full" />
        <button (click)="closeMenu()" class="text-3xl focus:outline-none">&#10005;</button>
      </div>
      <ul class="flex flex-col space-y-6 items-center text-lg mt-10">
        <li><a (click)="closeMenu()" href="/" class="text-gray-800 hover:text-tertiary">Ana Sayfa</a></li>
        <li><a (click)="closeMenu()" href="/about" class="text-gray-800 hover:text-tertiary">Hakkımızda</a></li>
        <li><a (click)="closeMenu()" href="/product" class="text-gray-800 hover:text-tertiary">Ürünler</a></li>
        <li><a (click)="closeMenu()" href="/contact" class="text-gray-800 hover:text-tertiary">İletişim</a></li>
      </ul>
    </div>
  </header>
  