<div class="flex flex-col items-center m-4">
  <ng-container *ngIf="orderItems.length > 0; else emptyOrder">
    <div class="flex flex-col md:flex-row justify-between w-full max-w-6xl " >
      <!-- Left Section -->
      <div class="flex-1 m-2 p-4 border border-gray-300 rounded-lg">
        <ng-container >
          <!-- Account Section -->
<!-- Account Section -->
<div class="mb-6">
  <h2 class="text-2xl font-bold mb-4">Hesap</h2>
  <ng-container *ngIf="!userId; else loggedInBlock">
    <input 
      type="email" 
      placeholder="Email" 
      [(ngModel)]="userEmail"
      #emailInput="ngModel"
      required
      class="w-full p-2 border border-gray-300 rounded"
    >
    <div *ngIf="!userEmail || (emailInput.invalid && emailInput.touched)" class="text-red-500 text-sm">
      Geçerli bir email adresi girin
    </div>
  </ng-container>
  <ng-template #loggedInBlock>
    <input 
      type="email" 
      placeholder="Email" 
      [(ngModel)]="userEmail" 
      disabled 
      class="w-full p-2 border border-gray-300 rounded"
    >
  </ng-template>
</div>

          <!-- Delivery Section -->
          <div class="mb-6">
            <h2 class="text-2xl font-bold mb-4">Teslimat</h2>
            <div class="grid grid-cols-1 gap-4">
              <div>
                <label class="block text-gray-700">Ülke/Bölge</label>
                <select class="w-full p-2 border border-gray-300 rounded">
                  <option value="Türkiye" selected>Türkiye</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
              <div class="flex space-x-4">
                <div class="w-1/2">
                  <label class="block text-gray-700">Ad</label>
                  <input 
                    type="text" 
                    placeholder="Ad" 
                    [(ngModel)]="firstName" 
                    name="firstName" 
                    class="w-full p-2 border border-gray-300 rounded"
                  >
                  <div *ngIf="!firstName" class="text-red-500 text-sm">Burası gereklidir</div>
                </div>
                <div class="w-1/2">
                  <label class="block text-gray-700">Soyad</label>
                  <input 
                    type="text" 
                    placeholder="Soyad" 
                    [(ngModel)]="lastName" 
                    name="lastName" 
                    class="w-full p-2 border border-gray-300 rounded"
                  >
                  <div *ngIf="!lastName " class="text-red-500 text-sm">Burası gereklidir</div>
                </div>
              </div>
              <div>
                <label class="block text-gray-700">Adres</label>
                <input 
                  type="text" 
                  placeholder="Adres" 
                  [(ngModel)]="address" 
                  name="address" 
                  class="w-full p-2 border border-gray-300 rounded"
                >
                <div *ngIf="!address " class="text-red-500 text-sm">Burası gereklidir</div>
              </div>
              <div>
                <label class="block text-gray-700">Cadde, sokak, ilçe bilgileri (isteğe bağlı)</label>
                <input 
                  type="text" 
                  placeholder="Cadde, sokak, ilçe bilgileri (isteğe bağlı)" 
                  [(ngModel)]="streetDetails" 
                  name="streetDetails" 
                  class="w-full p-2 border border-gray-300 rounded"
                >
              </div>
              <div class="flex space-x-4">
                <div class="w-1/2">
                  <label class="block text-gray-700">Posta kodu (isteğe bağlı)</label>
                  <input 
                    type="text" 
                    placeholder="Posta kodu (isteğe bağlı)" 
                    [(ngModel)]="postalCode" 
                    name="postalCode" 
                    class="w-full p-2 border border-gray-300 rounded"
                  >
                </div>
                <div class="w-1/2">
                  <label class="block text-gray-700">Şehir</label>
                  <input 
                    type="text" 
                    placeholder="Şehir" 
                    [(ngModel)]="city" 
                    name="city" 
                    class="w-full p-2 border border-gray-300 rounded"
                  >
                  <div *ngIf="!city " class="text-red-500 text-sm">Burası gereklidir</div>
                </div>
              </div>
              <div>
                <label class="block text-gray-700">Telefon</label>
                <input 
                  type="text" 
                  placeholder="Telefon" 
                  [(ngModel)]="phone" 
                  name="phone" 
                  required 
                  maxlength="10" 
                  pattern="^\d{3}-\d{3}-\d{4}$" 
                  class="w-full p-2 border border-gray-300 rounded"
                >
                <div *ngIf="!phone " class="text-red-500 text-sm">Burası gereklidir</div>
                <!-- <div *ngIf="phone && !/^\d{3}-\d{3}-\d{4}$/.test(phone) " class="text-red-500 text-sm">Geçersiz telefon numarası</div> -->
              </div>
            </div>
          </div>
  
          <!-- Payment Section -->
          <div class="mb-6 p-4 border border-gray-300 rounded-lg">
            <h2 class="text-2xl font-bold mb-4">Ödeme</h2>
            <p class="text-gray-700 mb-4">Ödemeler güvenli ve şifreli bir şekilde gerçekleştirilir.</p>
            <img src="assets/iyzico.png" alt="Iyzico Logo" >
          </div>
  
          <!-- Billing Address Section -->
          <div>
            <h2 class="text-2xl font-bold mb-4">Fatura Adresi</h2>
            <div class="border border-gray-300 p-4 rounded-lg">
              <div class="selectable" (click)="selectAddress(true)" [ngClass]="{'selected': sameAsShipping}">
                <input type="radio" id="sameAsShipping" name="billingAddress" [(ngModel)]="sameAsShipping" [value]="true" class="hidden-radio">
                <label for="sameAsShipping" class="cursor-pointer flex items-center">
                  <span class="radio-icon"></span>
                  Kargo adresiyle aynı
                </label>
              </div>
              <div class="selectable" (click)="selectAddress(false)" [ngClass]="{'selected': !sameAsShipping}">
                <input type="radio" id="differentBillingAddress" name="billingAddress" [(ngModel)]="sameAsShipping" [value]="false" class="hidden-radio">
                <label for="differentBillingAddress" class="cursor-pointer flex items-center">
                  <span class="radio-icon"></span>
                  Farklı bir fatura adresi kullan
                </label>
              </div>
              <div *ngIf="!sameAsShipping">
                <!-- Additional billing address fields go here -->
                <div class="grid grid-cols-1 gap-4">
                  <div>
                    <label class="block text-gray-700">Adres</label>
                    <input 
                      type="text" 
                      placeholder="Adres" 
                      [(ngModel)]="billingAddress" 
                      name="billingAddress" 
                      class="w-full p-2 border border-gray-300 rounded"
                    >
                    <div *ngIf="!billingAddress " class="text-red-500 text-sm">Burası gereklidir</div>
                  </div>
                  <div>
                    <label class="block text-gray-700">Cadde, sokak, ilçe bilgilerinizi lütfen yazınız</label>
                    <input 
                      type="text" 
                      placeholder="Cadde, sokak, ilçe bilgilerinizi lütfen yazınız" 
                      [(ngModel)]="billingStreetDetails" 
                      name="billingStreetDetails" 
                      class="w-full p-2 border border-gray-300 rounded"
                    >
                  </div>
                  <div class="flex space-x-4">
                    <div class="w-1/2">
                      <label class="block text-gray-700">Posta kodu (isteğe bağlı)</label>
                      <input 
                        type="text" 
                        placeholder="Posta kodu (isteğe bağlı)" 
                        [(ngModel)]="billingPostalCode" 
                        name="billingPostalCode" 
                        class="w-full p-2 border border-gray-300 rounded"
                      >
                    </div>
                    <div class="w-1/2">
                      <label class="block text-gray-700">Şehir</label>
                      <input 
                        type="text" 
                        placeholder="Şehir" 
                        [(ngModel)]="billingCity" 
                        name="billingCity" 
                        class="w-full p-2 border border-gray-300 rounded"
                      >
                      <div *ngIf="!billingCity " class="text-red-500 text-sm">Burası gereklidir</div>
                    </div>
                  </div>
                  <div>
                    <label class="block text-gray-700">Telefon</label>
                    <input 
                      type="text" 
                      placeholder="Telefon" 
                      [(ngModel)]="billingPhone" 
                      name="billingPhone" 
                      maxlength="10" 
                      pattern="^\d{3}-\d{3}-\d{4}$" 
                      class="w-full p-2 border border-gray-300 rounded"
                    >
                    <div *ngIf="!billingPhone " class="text-red-500 text-sm">Burası gereklidir</div>
                    <!-- <div *ngIf="billingPhone && !/^\d{3}-\d{3}-\d{4}$/.test(billingPhone) " class="text-red-500 text-sm">Geçersiz telefon numarası</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
  
      <!-- Right Section -->
      <ng-container >
        <div class="flex-1 sticky-section top-0 z-10 m-2 p-4 border border-gray-300 rounded-lg bg-gray-50 shadow-md">
          <h2 class="text-2xl font-bold mb-4">Sipariş Detayları</h2>
          <div *ngFor="let item of orderItems" 
               class="flex justify-between items-center mb-4 p-2 sm:p-4 bg-white rounded-lg shadow-md w-full max-w-lg mx-auto">
            <div class="flex items-center">
              <img [src]="'https://sellingthingsapi.shop/' + item.product.photo1" 
                   alt="Product Image" 
                   class="w-12 h-12 sm:w-16 sm:h-16 object-cover mr-2 sm:mr-4"> 
              <h3 class="text-[10px] sm:text-sm md:text-base lg:text-lg font-bold whitespace-nowrap">
                {{ item.product.name }}
              </h3>
            </div>
            <span class="text-[12px] sm:text-xs md:text-sm lg:text-lg ml-auto">
              {{ formatCurrency(item.product.price) }} TL x {{ item.quantity }}
            </span>
          </div>
      
          <div class="mt-6">
            <div class="flex justify-between">
              <h3 class="text-base md:text-lg">Alt Toplam:</h3>
              <h3 class="text-base md:text-lg text-right">{{ formatCurrency(subTotal) }} TL</h3>
            </div>
            <div class="flex justify-between">
              <h3 class="text-base md:text-lg">Kargo:</h3>
              <h3 class="text-base md:text-lg text-right">{{ formatCurrency(shippingCost) }} TL</h3>
            </div>
            <div class="flex justify-between">
              <h2 class="text-lg md:text-2xl font-bold mt-2">Toplam:</h2>
              <h2 class="text-lg md:text-2xl font-bold mt-2 text-right">{{ formatCurrency(total) }} TL</h2>
            </div>
          </div>
          <button (click)="openModal()" class="mt-4 bg-black text-white px-6 py-2 rounded hover:bg-gray-800 w-full">
            Şimdi Öde
          </button>
        </div>
      </ng-container>
      
      <!-- Ensure that the parent container has enough height -->
   
      
      
      
      
      
      
    </div>

  </ng-container>

</div>
<ng-template #emptyOrder>
  <div class="w-full p-4 flex flex-col items-center justify-center h-96 bg-white rounded-lg shadow-md">
    <p class="text-xl font-bold mb-4">Sepetinizde ürün bulunmamaktadır.</p>
    <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-3 px-6 rounded-full" (click)="goToProducts()">
      Ürünlere Göz At
    </button>
  </div>
</ng-template>
<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg w-full max-w-md mx-4"> <!-- Genişlik ayarları -->
    <h3 class="text-xl font-bold mb-4">Siparişinizi Onaylayın</h3>
    <p>Ödeme sayfasına yönlendirileceksiniz onaylıyor musunuz?</p>
    <div class="flex justify-end mt-4">
      <button (click)="confirmOrder()" class="bg-black text-white px-4 py-2 rounded mr-2">Onayla</button>
      <button (click)="closeModal()" class="bg-gray-300 text-black px-4 py-2 rounded">İptal</button>
    </div>
  </div>
</div>

<div *ngIf="isPaymentModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div [innerHTML]="paymentHtml"></div>
</div>
