<div class='flex flex-col md:flex-row justify-around mt-16 mr-10 mb-24 px-4'>
  <div>
    <h1 class='text-2xl md:text-4xl font-bold mb-4 text-tertiary text-center md:text-left'>Bize Ulaşın</h1>
    <hr class='mb-6 border-2 border-prod' />
    <div class='mb-40'>
      <div class='flex flex-col xl:flex-row justify-between'>
        <div id='info_container' class='my-2 mb-24 xl:my-2 flex flex-col justify-between'>
          <div id='top_info' class='flex flex-col xl:block'>
            <div class='flex gap-3 mb-8'>
              <div id='info_icon' class='h-10 w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
                <i class="fas fa-envelope text-xl"></i>
              </div>
              <div class='mt-1'>
                <h1 class='font-bold text-lg md:text-[19px] text-tertiary'>Bize Yazın</h1>
                <p class='mb-2 text-tertiary'>Sizin için buradayız.</p>
                <p class='font-bold text-tertiary'>kutayalp.com</p>
              </div>
            </div>

            <div class='flex gap-3 mb-8'>
              <div id='info_icon' class='h-10 w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
                <i class="fas fa-map-marker-alt text-xl"></i>
              </div>
              <div class='mt-1'>
                <h1 class='font-bold text-lg md:text-[19px] text-tertiary'>Bizi Ziyaret Edin</h1>
                <p class='mb-2 text-tertiary'>Merkez ofisimize uğrayın.</p>
                <p class='font-bold text-tertiary'>Altınşehir Mah.</p>
                <p class='font-bold text-tertiary'>163.(280) Sk. B Apt. No:11 B / 64</p>
                <p class='font-bold text-tertiary'>Nilüfer, Bursa</p>
              </div>
            </div>

            <div class='flex gap-3'>
              <div id='info_icon' class='h-10 w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
                <i class="fas fa-phone text-xl"></i>
              </div>
              <div class='mt-1'>
                <h1 class='font-bold text-lg md:text-[19px] text-tertiary'>Bize Ulaşın</h1>
                <p class='mb-2 text-tertiary'>Hafta içi 8:00 - 17:00 arasında arayabilirsiniz.</p>
                <p class='font-bold text-tertiary'>+90 545 213 68 73</p>
              </div>
            </div>
          </div>

          <div id='bot_info' class='flex justify-center gap-4 md:gap-10 xl:gap-2 pt-5'>
            <div id='info_icon' class='h-16 w-16 md:h-20 md:w-20 xl:h-10 xl:w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
              <i class="fab fa-facebook text-[30px] md:text-[40px] xl:text-xl"></i>
            </div>
            <div id='info_icon' class='h-16 w-16 md:h-20 md:w-20 xl:h-10 xl:w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
              <i class="fab fa-twitter text-[30px] md:text-[40px] xl:text-xl"></i>
            </div>
            <div id='info_icon' class='h-16 w-16 md:h-20 md:w-20 xl:h-10 xl:w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
              <i class="fab fa-linkedin text-[30px] md:text-[40px] xl:text-xl"></i>
            </div>
            <div id='info_icon' class='h-16 w-16 md:h-20 md:w-20 xl:h-10 xl:w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
              <i class="fab fa-youtube text-[30px] md:text-[40px] xl:text-xl"></i>
            </div>
            <div id='info_icon' class='h-16 w-16 md:h-20 md:w-20 xl:h-10 xl:w-10 flex items-center justify-center rounded-lg border border-[#DDEEEE]'>
              <i class="fab fa-instagram text-[30px] md:text-[40px] xl:text-xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mt-8 md:mt-0">
    <img src="../../../SellingThings/assets/iletisim.png" class='h-[200px] md:h-[300px] xl:w-[800px] xl:h-[300px] rounded-xl overflow-hidden'>
  </div>
</div>

<!-- Add FontAwesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
