

  <div class="sectionwrapper">
    <section class="header">
      <div class="mt-16 mb-8 flex flex-col md:flex-row items-center justify-center flex-wrap shadow-2-strong">
        <!-- Text Section -->
        <div class="w-full md:w-1/2 mt-0 text-center md:text-left">
          <h1 class="text-5xl md:text-6xl lg:text-8xl font-bold">
            <span class="text-primary">Bizi</span> Tanıyın.
          </h1>
          <p class="mt-6 md:mt-12 text-lg md:text-xl lg:text-2xl font-bold leading-7 text-tertiary">
            2024 yılında kurulmuştur ve o zamandan beri mutlu alışverişe yenilikçi deneyimler getirmeyi amaç edinmiştir.
          </p>
        </div>
    
        <!-- Image Section -->
        <div class="mt-8 md:mt-6 lg:-mt-20 flex justify-center md:justify-end">
          <div class="h-[300px] w-[300px] md:w-[400px] md:h-[400px] lg:w-[450px] lg:h-[450px]">
            <img src="assets/idea.svg" alt="Idea Image" class="w-full h-full object-cover">
          </div>
        </div>
      </div>
    </section>
    

    <section class="photo shadow-2-strong">
        <div class='flex my-32 lg:my-40 flex-col lg:flex-row gap-6 items-center justify-center px-5'>
            <div class='pb-16 pt-12 pr-20 w-full lg:w-1/2 px-5'>
                <h1 class='text-3xl mb-8 font-bold text-quaternary'>
                    Misyonumuz
                </h1>
                <p class='mb-8 text-tertiary font-bold'>Firmamız hem müşterilerini hem de çalışanlarını mutlu etmeyi esas amacı olarak belirlemiştir. Yıllardır iş yaptığımız firmaların her zaman bizden memnun kalması tesadüf değildir.</p>
                <p class='font-bold text-tertiary'>Ayrıca, israf etmeyen, geri dönüşümcü ve çevreci çalışma modelleri sayesinde doğaya ve topluma karşı sorumluluklarından da asla taviz vermemiştir.</p>
              </div>
              <div class='pb-16 pt-12 px-10 bg-tertiary w-full lg:w-1/2 text-white rounded-xl'>
                <h1 class='text-3xl mb-8 font-bold'>Vizyonumuz</h1>
                  <div class='flex gap-2 mb-4 flex-col'>
                    
                    <div><i class="fa fa-check"></i>   Müşteri beklentilerine odaklanmış bir mükemmellik anlayışı ile fark oluşturacak kaliteli ve güvenilir ürünler sunmak</div><br>
                    <div><i class="fa fa-check"></i>   Etkin kaynak kullanımı ile tüm çevremizin beklentilerini optimize etmek ve sürekli iyileştirme sağlayarak rekabetçi gücümüzü artırmak</div><br>

                    <div><i class="fa fa-check"></i>   Topluma ve çevreye karşı sorumluluklarımızı yerine getirmek</div>

                  </div>
              </div>
          </div>
    </section>

    <section class="job">
      <div class="h-[300px] md:h-[500px] rounded-xl mb-20 md:mb-40 overflow-hidden relative">
        <!-- Background Image -->
        <img src="../../../assets/ofs.jpg" alt="" class="h-full w-full object-cover" />
    
        <!-- Dark Overlay -->
        <div class="absolute bg-black/55 top-0 bottom-0 left-0 right-0 z-10"></div>
    
        <!-- Text and Button Section -->
        <div class="absolute items-center z-50 top-20 md:top-32 left-1/2 transform -translate-x-1/2 text-white px-4 md:px-0">
          <!-- Title -->
          <p class="font-bold text-xl md:text-4xl leading-[30px] md:leading-[50px] text-center">
            Ekibimizin Parçası Olmak İçin Hiç Vakit Kaybetmeden Bize Ulaşın
          </p>
    
          <!-- Button -->
          <button class="left-1/2 absolute transform -translate-x-1/2 mt-8 md:mt-12 font-bold text-base md:text-2xl border-2 border-white text-white py-2 md:py-3 px-6 md:px-12 rounded-md">
            <a href="mailto:kutayalptekin3@gmail.com">İletişim</a>
          </button>
        </div>
      </div>
    </section>
    
</div>