.star-container {
    position: relative;
    display: inline-block;
    font-size: 1.0rem; /* Yıldız boyutunu ayarlayabilirsiniz */
  }
  
  .star {
    color: gray; /* Boş yıldız rengi */
  }
  
  .star-filled {
    color: yellow; /* Dolu yıldız rengi */
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .star-filled.full {
    width: 100%;
  }
  
  .star-filled.half {
    width: 50%;
  }
  