<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
  <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-lg">
    <h2 class="text-3xl font-bold mb-8 text-gray-800 text-center">Şifremi Unuttum</h2>
    <form (ngSubmit)="sendResetLink()">
      <div class="mb-6">
        <label class="block text-gray-700 text-lg font-bold mb-2" for="email">
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="flex items-center justify-between mb-6">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Şifre Sıfırlama Bağlantısı Gönder
        </button>
      </div>
      <div class="text-center mt-6">
        <a [routerLink]="['/login']" class="text-gray-600 hover:text-gray-800">Giriş sayfasına dön</a>
      </div>
    </form>
  </div>
</div>
